<div class="card">
  <div class="p-fluid">
    <img
      src="https://www.enbo.com.br/enbo/sites/default/files/rotor/banner_site.png"
      alt=""
      title=""
      width="700"
      height="119"
    />
  </div>
</div>
<div class="card">
  <p-messages></p-messages>

  <p-tabView>
    <p-tabPanel header="Cadastro">
      <div class="grid">
        <div class="col-6">
          <h3>Orquestras</h3>

          <div class="formgroup-inline">
            <div class="field">
              <label for="novaOrquestra">Nome nova orquestra</label>
              <input
                name="novaOrquestra"
                type="text"
                pInputText
                [(ngModel)]="nomeNova"
              />
            </div>

            <button
              pButton
              pRipple
              label="Adicionar"
              (click)="adicionar()"
              class="p-button-success"
            ></button>
          </div>

          <p-table
            [styleClass]="'p-datatable-sm'"
            [(selection)]="selectedOrquestras"
            dataKey="nome"
            [value]="orquestras"
          >
            <ng-template pTemplate="header">
              <tr>
                <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                <th>Nome</th>

                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
                <td>{{ item.nome }}</td>
                <td>
                  <p-button
                    (onClick)="remover(item)"
                    icon="pi pi-times"
                    styleClass="p-button-rounded p-button-danger p-button-text"
                  ></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="col-6">
          <h3>Rodadas</h3>
          <div class="formgroup-inline">
            <div class="field">
              <label for="novaOrquestra">Nome nova rodada</label>
              <input
                name="novaRodada"
                type="text"
                pInputText
                [(ngModel)]="novaRodada"
              />
            </div>

            <button
              pButton
              pRipple
              label="Adicionar rodada"
              (click)="adicionarRodada()"
              class="p-button-success"
            ></button>
          </div>

          <p-table
            [styleClass]="'p-datatable-sm'"
            dataKey="nome"
            [value]="rodadas"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Nome</th>

                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.nome }}</td>
                <td>
                  <p-button
                    (onClick)="removerRodada(item)"
                    icon="pi pi-times"
                    styleClass="p-button-rounded p-button-danger p-button-text"
                  ></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Participantes">
      <app-sorteio titulo="Participantes"></app-sorteio>
    </p-tabPanel>
    <p-tabPanel header="Orquestras">
      <app-sorteio titulo="Orquestras"></app-sorteio>
    </p-tabPanel>
    <p-tabPanel
      [header]="item.nome"
      *ngFor="let item of rodadas; let i = index"
    >
      <app-rodada [rodada]="item"></app-rodada>
    </p-tabPanel>
  </p-tabView>
</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
